
  <!--Main Body End-->
  <!--Footer Start-->
  <div class="wrapper row4">
    <footer id="footer" class="clear">
      <div class="one_third first">
        <h6 class="title">College Details</h6>
        <address class="btmspace-15">
          SRH Hochschulen GmbH<br>
          Campus Heidelberg<br>
          Ludwig-Guttmann-Straße 6<br>
          69123, Heidelberg
        </address>
        <ul class="nospace">
          <li class="btmspace-10"><span class="fa fa-phone"></span> +49 6221 6799-000</li>
          <li><span class="fa fa-envelope-o"></span> <a href="mailto:info.hshd@srh.de">info.hshd@srh.de</a></li>
          <p><a href="https://www.srh-hochschule-heidelberg.de/en/">Website &raquo;</a></p>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Project Mentor</h6>
        <ul class="nospace linklist">
          <li>Prof. Dr.-Ing. Swati Chandna</li>
          <li><span class="fa fa-envelope-o"></span> <a href="mailto:swati.chandna@srh.de">swati.chandna@srh.de</a></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Contributors Details</h6>
        <ul class="nospace linklist">
          <li>Nimish Bhatt</li>
          <li><span class="fa fa-envelope-o"></span> <a
              href="mailto:nimish.bhatt@stud.hochschule-heidelberg.de">nimish.bhatt@stud.hochschule-heidelberg.de</a>
          </li>
          <br />
          <li>Nipun Aggarwal</li>
          <li><span class="fa fa-envelope-o"></span> <a
              href="mailto:nipun.aggarwal@stud.hochschule-heidelberg.de">nipun.aggarwal@stud.hochschule-heidelberg.de</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
  <!--Footer End-->