<!--Header Start-->
<div class="wrapper row1">
    <header id="header" class="clear">
      <nav id="mainav">
        <ul class="clear">
          <li class="fl_left"><a href="/">Home</a></li>
          <!-- <li class="fl_right">
            <a>Model Information</a>
            <ul>
              <li>
                <a href="">UNET</a>
              </li>
              <li>
                <a href="">UNET with RESNET</a>
              </li>
            </ul>
          </li> -->
        </ul>
      </nav>
    </header>
  </div>
  <!--Header End-->
  <!--Body Start-->