<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brain Tumour Detection and Segmentation</title>
  <link href="static/css/layout.css" rel="stylesheet" type="text/css" media="all">
  <link href="static/css/font/flaticon.css" rel="stylesheet" type="text/css" media="all">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 40px;
    }

    .container {
      text-align: center;
    }

    .button {
      background-color: #4caf50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>

<body id="top" class="homepage">
  <!--Header Start-->
  <div class="wrapper row1">
    <header id="header" class="clear">
      <nav id="mainav">
        <ul class="clear">
          <li class="fl_left"><a href="/">Home</a></li>
          <!-- <li class="fl_right">
            <a>Model Information</a>
            <ul>
              <li>
                <a href="">UNET</a>
              </li>
              <li>
                <a href="">UNET with RESNET</a>
              </li>
            </ul>
          </li> -->
        </ul>
      </nav>
    </header>
  </div>
  <!--Header End-->
  <!--Body Start-->
  <div class="wrapper row3">
    <main class="container clear">
      <div>
        <h1>Welcome to Our Brain Tumour Detection and Segmentation Service</h1>
        <p>
          Detect and segment brain tumours with advanced machine learning algorithms.
        </p>
        <a href="/upload" class="button">Get Started</a>
      </div><br />

      <div class="center clear">
        <div class="btmspace-80">
          <h2 class="font-x2 bold underlined">Abstract</h2>
          <p>This project represents an exploration in the realm of medical diagnostics, specifically targeting the
            precise detection and segmentation of brain tumors, with a focus on gliomas. Utilizing Python and advanced
            machine learning technologies, we've developed and compared two innovative deep learning models: U-Net and
            U-Net with ResNet as the backbone. Our approach leverages diverse datasets of MRI scans to train these
            models, aiming for not just accurate detection, but also detailed segmentation of brain tumors into
            different stages. By integrating state-of-the-art algorithms, this study endeavors to enhance the diagnostic
            process, ultimately striving to improve the efficiency, precision, and patient outcomes in brain tumor
            management.
          </p>
        </div>
        <div class="group">
          <h2 class="font-x2 bold underlined">Objectives</h2>

          <article class="two_quarter first"><a><i class="btmspace-15 fa fa-3x flaticon-human-brain"></i></a>
            <h4 class="font-x1 underlined" style="padding-top: 20px;">Tumor Detection</h4>
            <p>Using Neural Networks to identify<br>if the MRI has tumor present or not.</p>
          </article>

          <article class="two_quarter"><a><i class="btmspace-15 fa fa-3x flaticon-brain"></i></a>
            <h4 class="font-x1 underlined" style="padding-top: 20px;">Tumor Segmentation</h4>
            <p>To segrigate tumor from MRI.</p>
          </article>
        </div>
      </div>
      <div class="clear"></div>
    </main>
  </div>
  <!--Main Body End-->
  <!--Footer Start-->
  <div class="wrapper row4">
    <footer id="footer" class="clear">
      <div class="one_third first">
        <h6 class="title">College Details</h6>
        <address class="btmspace-15">
          SRH Hochschulen GmbH<br>
          Campus Heidelberg<br>
          Ludwig-Guttmann-Straße 6<br>
          69123, Heidelberg
        </address>
        <ul class="nospace">
          <li class="btmspace-10"><span class="fa fa-phone"></span> +49 6221 6799-000</li>
          <li><span class="fa fa-envelope-o"></span> <a href="mailto:info.hshd@srh.de">info.hshd@srh.de</a></li>
          <p><a href="https://www.srh-hochschule-heidelberg.de/en/">Website &raquo;</a></p>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Project Mentor</h6>
        <ul class="nospace linklist">
          <li>Prof. Dr.-Ing. Swati Chandna</li>
          <li><span class="fa fa-envelope-o"></span> <a href="mailto:swati.chandna@srh.de">swati.chandna@srh.de</a></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Contributors Details</h6>
        <ul class="nospace linklist">
          <li>Nimish Bhatt</li>
          <li><span class="fa fa-envelope-o"></span> <a
              href="mailto:nimish.bhatt@stud.hochschule-heidelberg.de">nimish.bhatt@stud.hochschule-heidelberg.de</a>
          </li>
          <br />
          <li>Nipun Aggarwal</li>
          <li><span class="fa fa-envelope-o"></span> <a
              href="mailto:nipun.aggarwal@stud.hochschule-heidelberg.de">nipun.aggarwal@stud.hochschule-heidelberg.de</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
  <!--Footer End-->
</body>

</html>